.header-wraper{
position: relative;
background: url(aaa.jpg) no-repeat;
background-size: cover;
background-position: center;
height:100vh;
}

#image{
  background: url(abc.jpg) no-repeat;
  background-size: 250px;
  background-position: relative;
  position: relative;

}
.footer{
  width:100%;
	padding-top:80px;
	padding-bottom:70px;
	background-color:none;
  padding:0px 1000px 0px 0px;
  text-align: center;
	background-color:none;
}
.about-me {
  padding:0px 0px 0px 650px;
  text-align: center;
	background-color:none;
  display: block;
  position: relative;
  
}
.about-me h2{
	color:black;
	text-align:CENTER;
	text-transform:uppercase;
  font-family: cursive;
}
.about-me h3{
	color:black;
	text-align:CENTER;
	text-transform:uppercase;
  font-family: cursive;
}
.about-me .row{
	color:black;
	text-align:CENTER;
	text-transform:uppercase;
  font-family:monospace;
}

.about-me .content{
	width:50%;	
	float:left;
	font-family:century gothic;
	color:rgb(51, 37, 37);
}
.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed",sans-serif ;
  color: #3a3b31;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
